@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Inconsolata&family=Yellowtail&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Akaya Kanadaka", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: rgb(7, 7, 7);
  background: beige;
}

h1 {
    font-size: 40px;
}

.quote {
    border-right: 3px solid beige;
    border-left: 3px solid beige;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(148, 148, 223);
    padding: 10px 10px;
}

.quote-text {
    font-size: 26px;
    font-weight: lighter;
}

.quote-author {
    font-size: 18px;
    font-style: italic;
}
