@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.pokemon-cards-area {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon-card {
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 3px 15px rgb(100, 100, 100, 0.5);
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.pokemon-image {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
}

.pokemon-image img {
  max-width: 90%;
  margin-top: 10px;
}

.pokemon-info {
  margin-top: 10px;
}

.pokemon-number {
  background-color: lightgray;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}
